
.formsControl.error input,
.formsControl.error textarea {
  border: 1px solid red;
}

.formsControl.error span {
  color: red;
}

.formSummaryError {
  padding: 5px;
  color: red;
}

.textarea {
  border-radius: 5px;
  min-height: 50px;
  min-width: 200px;
}

.textarea:focus {
  outline: none;
}

.input {
  outline: none;
  padding: 6px;
  border-radius: 10px;
  border: 1px solid rgb(5, 76, 124);
}
