.appWrapper {
  font-family: 'Roboto';
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
  'h h'
  'n c';
  
}

.appWrapperContent {
  background-color: rgb(221, 242, 255);
  grid-area: c;
  padding: 15px;
}

.header {
  grid-area: h;
}



