.header {
  background-color: rgb(50, 103, 248);
  grid-area: h;
  padding: 15px;

}

.header .logo {
  font-weight: bold;
  color: azure;
  text-decoration: none;
}

.header .logo:hover {
  text-decoration: none;
  transition: 0.5s;
  color: rgb(0, 211, 183);
}