.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 103, 248);
  padding: 15px;

}

.header .logo {
  font-weight: bold;
  color: azure;
  text-decoration: none;
}

.header .logo:hover {
  text-decoration: none;
  transition: 0.5s;
  color: rgb(0, 211, 183);
}

.login {
  display: flex;
  align-items: center;
}

.logoWrap {
  display: flex;
  align-items: center;
}

.loginLink {
  text-decoration: none;
  color: black;
}